.pg_button {
  width: 40px;
  height:40px;
  margin: 6px;
  font-size: 32px;
  border-radius: 100%;
  background: #EDEDED;
  -webkit-text-stroke: 0.5px black;
  color:transparent;
}
.pg_button:hover {
  background: #4D375D;
  color:white;
}