.pokeCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.loading_gif {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  bottom: 180px;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.create_button {
  width: 150px;
  height: 45px;
  margin-top: 28px;
  color: #1EAE98;
  border: 4px solid #1EAE98;
  border-radius: 12px;
  background: #ffff;
}

.create_button:hover {
  width: 153px;
  height: 48px;
  background: #1EAE98;
  color: #fff;
  box-shadow: 0px 0px 4px 4px #1DB9C3;
}

.filter_box {
  margin-bottom: 15px;
}

.select_filter {
  width: 120px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #A2CDCD;
  color:#A2CDCD;
}

.select_filter:focus {
  color:#A2CDCD;
  outline: 1px solid #A2CDCD;
}

.filter_button {
  width: 98px;
  height: 40px;
  background: #fff;
  border: 4px solid #1EAE98;
  border-radius: 6px;
  color: #1EAE98;
}

.filter_button:hover {
  width: 100px;
  height: 43px;
  background: #1EAE98;
  color:#fff;
  box-shadow: 0px 0px 4px 4px #1DB9C3;
}

.home_cards {
  display: flex;
  justify-content: center;
}

.card_link {
  text-decoration: none;
}

.home_paging {
  display: flex;
  justify-content: center;
}